.app__container {
  // background-color: #e9f1ff;
  background-color: #ecf0f4;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;

  width: 100%;
  // padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

// @media (min-width: 1264px) {
//   .app__container {
//     max-width: 400px;
//   }
// }
